torch>=2.4.0
torchvision>=0.15.0
numpy>=1.24.0
pillow>=9.0.0
transformers==4.55.0
peft>=0.17.0
sentencepiece==0.2.0
protobuf==6.31.1
diffusers @ git+https://github.com/huggingface/diffusers
trl @git+https://github.com/andjoer/trl.git@flux-kontext
accelerate
wandb 
